{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} App{% endblock %}
{% block stylesheets %}{{ parent() }} {{ encore_entry_link_tags('index') }}{% endblock %}
{% block body %}
    <div id="index"></div>
{% endblock %}

{% block footer %}{% include('footer.html.twig') %}{% endblock %}
{% block javascripts %}{{ parent() }}{{ encore_entry_script_tags('app') }} {{ encore_entry_script_tags('index') }}{% endblock %}
